
html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .product-details__product-title{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted, html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted:hover {
	color: #fff;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .details-product-price__value{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store h6, html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .ec-header-h6{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control--flexible .form-control__inline-label{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store p, html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .ec-text-block{
	color: #f1f1f1;
}


html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store p+p, html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .ec-text-block+p{
	color: #f1f1f1;
}


html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .product-details__product-description:not(.product-details__product-description--blank) p:last-child{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store h1, html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .ec-header-h1{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .signin__description--terms{
	color: #f1f1f1;
}






html#ecwid_html body#ecwid_body .ec-size .ec-store *{
	color: #f1f1f1;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control:not(.form-control--loading) .form-control__button{
	background-color: #303030;
}
{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}

{
	color: #f1f1f1;
}






